
        .a{
           padding-bottom: 10px;
           padding-left: 90px;
           margin-right: 120px;
           height: 120px;
         }
         nav a{
            text-decoration: none;
          }
         
         .d{
            margin-right: 10px;
            background-color: red;
            padding-left: 150px;
            font-size: 21px;
            -webkit-text-fill-color: rgb(232, 235, 237);
         }
        .cc{
            border: 2px solid black;
            height: 300px;
            width: 1000px;
            margin-top: 50px;
            margin-left: 220px;
            padding-top: 15px;
        }
        .bb{
            border: 2px solid black;
            height: 150px;
            width: 950px;
            margin-left:20px;
            padding-bottom: 20px;
            background-color: aliceblue
        }
        .dd{
        
           margin-top: 10px;
        }
    